<?php
/**
 * @copyright Copyright (c) 2024, KUTBU
 *
 * @author Muhammed Yalçınkaya <muhammed.yalcinkaya@kutbu.com>
 *
 * @license AGPL-3.0
 *
 * This code is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License, version 3,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License, version 3,
 * along with this program. If not, see <http://www.gnu.org/licenses/>
 *
 */

require_once(__DIR__ . '/../vendor/autoload.php');
use PHPMailer\PHPMailer\PHPMailer;

$config = array(
    'smtp' => array(
        'enabled' => true, // E-posta göndermeyi etkinleştirmek veya devre dışı bırakmak için kullanılır
        'host' => '', // SMTP sunucusu adresi
        'username' => '', // SMTP hesabı e-posta adresi
        'password' => '', // SMTP hesabı şifresi
        'encryption' => PHPMailer::ENCRYPTION_SMTPS, // Güvenli bağlantı türü
        'port' => 465, // SMTP port numarası
        'mailCharset' => 'UTF-8', // E-posta karakter seti
        'mailContentType' => 'text/html' // E-posta içeriği türü
    ),

    'infobip' => array(
        'enabled' => true, // SMS göndermeyi etkinleştirmek veya devre dışı bırakmak için kullanılır
        'BASE_URL' => '',
        'API_KEY' => '',
        'SENDER' => '',
)
);

$siteName = 'Example';
$siteShortName = 'OIM';
$siteUrl = 'https://oim.example.com';
$siteVirtualClassroomUrl = 'https://zoom.us';
$siteHeroDescription ='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel vestibulum erat. Aliquam nec diam nec justo sollicitudin imperdiet. Donec est mauris, viverra id dolor eget, convallis mollis massa. Cras commodo ligula hendrerit bibendum euismod.';
$resetPasswordDescription = 'Şifrenizi sıfırlamak için sistemde kayıtlı e-posta adresinizi girin. E-posta adresiniz kayıtlı bir e-posta adresi ile eşleşir ise yeni şifrenizi belirleyebileceğiniz bir bağlantı gönderilecektir.';
$siteVerifyDescription = 'Size gönderilen onay bağlantısı ile dijital olarak bütünlüğü bozulamaz bir şekilde sözleşmelerinizi kolayca onaylayabilirsiniz. SMS ve e-posta adreslerinize gönderilen bağlantılar sadece size özeldir ve şifrelenmiş olarak sistemlerimizde saklanmaktadır.';
$agreementLink = 'https://oim.example.com/agreement.php';
$siteAcademyUrl = 'https://www.example.com';

// Türkiye saat dilimini kullan
date_default_timezone_set('Europe/Istanbul');

// Tarih ve saat gösterim formatını belirle
define('DATE_FORMAT', 'd.m.Y H:i:s');

$mailFromAddress = 'noreply@example.com';
$mailFromName = 'OIM';
$mailCharset = 'UTF-8';
$mailContentType = 'text/plain; charset=UTF-8';

$oimVersion = "Beta";

// Hata gösterme ayarını kontrol etmek için bir değişken
$showErrors = true;

// Eğer hata gösterme özelliği etkinse, hata mesajlarını göster
if ($showErrors) {
    ini_set('display_errors', 1);
    ini_set('display_startup_errors', 1);
} else {
    // Hata gösterme özelliği devre dışı bırakılmışsa, hata mesajlarını gizle
    ini_set('display_errors', 0);
    ini_set('display_startup_errors', 0);
}

// reCAPTCHA v3 anahtarları
define('RECAPTCHA_SITE_KEY', '');
define('RECAPTCHA_SECRET_KEY', '');
